<div class="card-group">
  <% @platforms.each do |platform| %>
    <div class="py-5">
      <div class="container">
        <div class="col-md-4">
          <div class="card bg-light mb-3" style="width: 18rem; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);">

            <div class="card-body" style="padding-bottom:0px">
              <h5 class="card-title"><%= link_to platform.name, platform %></h5>

            </div>
            <div class="card-footer text-muted" style="text-align:right;">
              <a href="#" style="text-decoration: none;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
