<% content_for(:html_title) { "Platforms" } %>

</br>



<h1>Platforms</h1>
<div class="container">

  </br>
  <div class="columns">
    <%= render partial: 'platform', object: @platform, locals: { show_link: false } %>
  </div>

</div>