<% content_for(:html_title) { "Home" } %>

</br>

<body class="">

  <div class="column">
    <h2 class="title is-2">Top 10 Games</h2>
    <%= render partial: 'games/game', object: @game, locals: { show_link: false } %>
  </div>
</div>

</body>

