<% content_for(:html_title) { "Games" } %>

</br>

<div class="container">
  <h1>Games</h1>
</div>

<div class="columns">
  <%= render partial: 'game', object: @game, locals: { show_link: false } %>
</div>

<div class="container pagination justify-content-center">
  <%= paginate @games, theme: 'twitter-bootstrap-4', pagination_class: "pagination-md" %>
</div>