/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
*= require material_icons
*/

details > summary:first-of-type
{
  width: 110%;
  margin-left: -5%;
  background-color: rgb(242, 242, 242);
  border-radius: 25px;
  padding-left: 12px;
}
details > summary:first-of-type:hover
{
  background-color: rgb(245, 245, 245);
  border-radius: 25px;
}
summary::-webkit-details-marker
{
  display:none;
  color: #00ACF3;
  font-size: 125%;
  margin-right: 2px;
}

details > summary:focus
{
  outline-style: none;
}
details > summary:hover
{
  color: #00ACF3;
}
article > details > summary
{
  font-size: 28px;
  margin-top: 16px;
}

.hide {
  visibility: hidden;
  opacity: 0;
   -webkit-transition: linear 0.5s;
   -moz-transition: linear 0.5s;
  transition: linear 0.5s;

}

div:hover > .hide {
  visibility: visible;
  opacity: 1;
}
